<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Phone</key>
	<dict>
		<key>Price</key>
		<real>349.99</real>
		<key>Name</key>
		<string>Samsung Galaxy Note 3</string>
		<key>Picture</key>
		<string>phone.jpg</string>
	</dict>
	<key>iPad</key>
	<dict>
		<key>Price</key>
		<real>449.99</real>
		<key>Picture</key>
		<string>ipad.jpg</string>
		<key>Name</key>
		<string>Apple iPad</string>
	</dict>
	<key>Video Game</key>
	<dict>
		<key>Price</key>
		<real>59.99</real>
		<key>Picture</key>
		<string>videogame.jpg</string>
		<key>Name</key>
		<string>Battlefield 4</string>
	</dict>
	<key>Laptop</key>
	<dict>
		<key>Price</key>
		<real>499.99</real>
		<key>Name</key>
		<string>ASUS Laptop</string>
		<key>Picture</key>
		<string>laptop.jpg</string>
	</dict>
	<key>Television</key>
	<dict>
		<key>Weight</key>
		<real>13.2</real>
		<key>Price</key>
		<real>799.99</real>
		<key>Name</key>
		<string>Samsung HD Television</string>
		<key>Picture</key>
		<string>television.jpg</string>
	</dict>
</dict>
</plist>
